html {
  scroll-behavior: smooth;
}

/* Header  */
header {
  background: url("./images/cover.jpg") no-repeat center;
  background-size: contain;
  background-color: rgb(22, 21, 26);
  height: 700px;
}
header .nav-link,
.nav-item {
  color: white;
  font-weight: 700;
  position: relative;
}
header .nav-link:last-child {
  padding-right: 50px;
}
header .nav-link::after {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 50%;
  width: 60px;
  content: "";
  background: rgb(249, 228, 25);
  transform: translate(-50%, 0);
  height: 1px;
}
header .contact {
  padding-top: 8px;
  padding-left: 10px;
}
.contact p {
  margin-bottom: 2px;
}
.contact a {
  color: rgb(249, 228, 25);
}
/* Program Features */

#programFeatures h3,
#joinUsLive h3 {
  text-align: center;
  position: relative;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 700;
}
#programFeatures h3::after,
#joinUsLive h3:after {
  position: absolute;
  top: 120%;
  bottom: 0;
  left: 50%;
  width: 100px;
  content: "";
  background: rgb(249, 228, 25);
  transform: translate(-50%, 0);
  height: 4px;
}
.card {
  border: none;
  text-align: center;
  margin-bottom: 20px;
}
.card .card-img-top {
  border-radius: 50%;
  width: 55%;
  margin: 0 auto;
}
#programFeatures .card-title {
  font-size: 24px;
  font-weight: 700;
}

/* Join Us Live  */
#joinUsLive {
  background-color: #ecf0f1;
}

@media screen and (max-width: 992px) {
  header {
    background-color: rgba(0, 0, 0, 0.849);
    background-image: none;
    height: auto;
  }
}
